@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

header {
    width: 100%;
    height: 760px;
}

.header_img {
    background-image: url("../media/header_img.png");
    width: 100%;
    height: inherit;
    background-position-x: center;
    background-repeat: no-repeat;
}

.menu__contain {
    width: 95%;
    height: 75px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    user-select: none;
}

.menu__contain ul {
    display: flex;
    list-style: none;
    height: inherit;
    width: 100%;
}

.menu__contain li {
    font-size: 20px;
    font-family: 'Besley', serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Unbounded', cursive;
    font-weight: 500;
    height: inherit;
    color: rgb(254, 216, 255);
    display: flex;
    align-items: center;
    transition: .5s ease;
    border-radius: 8px;
    padding: 0 15px;
    justify-content: center;
    cursor: pointer;
}

.menu__contain li:not(:first-child):hover {
    background-color: #fd78dc;
    cursor: pointer;
}

.tool-bar {
    width: 300px;
    height: inherit;
    display: flex;
    align-items: center;
}

.tool-bar___discord-icon {
    width: 40px;
    height: 30px;
}

.discord-icon___box {
    border-radius: 50%;
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    transition: .5s ease;
}
.discord-icon___box:hover {
    background-color: #fd78dc;
    cursor: pointer;
}

.hint_box{
    position: absolute;
    width: 120px;
    height: 30px;
    background-color: rgb(54, 54, 54);
    border-radius: 4px;
    margin-bottom: -100px;
    overflow: hidden;
    visibility: hidden;
    transition: 0.25s;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    letter-spacing: 1.5px;
}
.discord-icon___box:hover .hint_box{
    opacity: 1;
    visibility: visible;
    transition-delay: 0.4s;
}

.tool-bar p{
    font-family: 'Besley', serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Unbounded', cursive;
    color: rgb(254, 216, 255);
    margin-right: 5px;
    font-size: 17px;
}

.tool-bar___login-box {
    display: flex;
    align-items: center;
    color: rgb(254, 216, 255);
    height: inherit;
    transition: .5s ease;
    border-radius: 8px;
    padding: 0 15px;
}
.tool-bar___login-box:hover {
    background-color: #fd78dc;
    cursor: pointer;
}

.tool-language-box {
    color: rgb(254, 216, 255);
    border-left: 1px solid #fd78dc;
    width: 100px;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s ease;
    border-radius: 8px;
}
.tool-language-box:hover {
    background-color: #fd78dc;
    cursor: pointer;
}

/* header-main-box */

.header-main-box {
    width: 850px;
    height: 400px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header-main-box img {
    width: 450px;
    height: 450px;
}

.header-main-box h1 {
    color: white;
    font-family: 'Besley', serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Unbounded', cursive;
}

.header-main-box p {
    color: white;
    font-family: 'Besley', serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Unbounded', cursive;
}

.header-main-box___text-box {
    width: 530px; /*промежуток кнопок*/
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-end;
}

/* Header main box BUTTONS */

.header-main-box___buttons-box {
    width: 100%;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header-main-box___add-ds-button {
    height: 50px;
    width: 200px;
    align-self: flex-start;
    margin-top: 10px;
}

.header-main-box___more-button {
    height: 50px;
    width: 150px;
    align-self: flex-start;
    margin-top: 10px;
}

.header-main-box___add-ds-button{
    border: 0px;
    border-radius: 8px;
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: #ff82e0;
    font-size: 15px;
    letter-spacing: 1px;
    transition: 0.2s;
    cursor: pointer;
}
.header-main-box___add-ds-button:hover{
    background-color: rgb(255, 167, 233)
}

.header-main-box___more-button{
    border: 0px;
    border-radius: 8px;
    font-family: 'Roboto', sans-serif;
    color: rgb(65, 65, 65);
    background-color: #ffffff;
    letter-spacing: 1px;
    font-weight:bold;
    font-size: 15px;
    transition: 0.2s;
    cursor: pointer;
}
.header-main-box___more-button:hover{
    background-color: #e2e2e2;
}


/* language modal */


.language-box {
    width: 150px;
    height: 100px;
    background-color: white;
    position: absolute;
    right: 30px;
    border-radius: 5px;
    opacity: 0;
    transition: .3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tool-language-box-item span {
    pointer-events: none;
}

.language-box-contain {
    width: 90%;
    height: 90%;
}

.language-box-ru {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;

    font-family: 'Besley', serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Unbounded', cursive;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

.language-box-ru img {
    width: 30px;
    height: 25px;
}

.language-box-us {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;

    font-family: 'Besley', serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Unbounded', cursive;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

.language-box-us img {
    width: 30px;
    height: 20px;
    margin-right: 5px;
}

.language-box-us p {
    margin-right: 10px; 
}


/* Маленький хедер */

.little-header {
    height: 75px;
}