main {
    display: flex;
    min-height: 100%;
    max-width: 1170px;
    width: 100%;
}

.main_contain {
    height: 3000px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.count-info {
    width: 100%;
    height: 300px;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bigger {
    width: 70%;
    height: 100%;
}

.smaller {
    width: 30%;
    height: 100%;
}

/*Текст карточек*/

.sub-block-header {
    font-size: 2em;
    font-weight: 400;

    font-family: 'Besley', serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Unbounded', cursive;
}

.sub-block-description {
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;

    font-family: 'Besley', serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Unbounded', cursive;
}