/*
    font-family: 'Besley', serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Unbounded', cursive;
*/

* {
    margin: 0;
    padding: 0;
}
html,
body {
  height: 100%;
  color: black;
  background-color: white;
  transition: .5s ease;
}

.wrapper {
    position: relative;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    transition: .5s ease;
}

.dark-mode {
    color: black;
    background-color: rgb(56, 56, 56);
}

body::-webkit-scrollbar {
  width: 14px;
}
  
body::-webkit-scrollbar-track {
  background: white;
}
  
body::-webkit-scrollbar-thumb {
  background-color: rgb(185, 138, 189);
  border-radius: 20px;
  border: 2px solid white;
}


.btn-up {
  position: fixed;
  background-color: rgba(175, 102, 182, 0.63);
  left: 20px;
  bottom: 30px;
  border-radius: 25px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.15s ease-in-out, transform 0.3s ease-in-out;
  color: #fff;
  width: 50px;
  height: 50px;
  opacity: 1;
  transform: translateY(0);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cg fill='none' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M10 17V4M3 10l7-7 7 7'/%3E%3C/g%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  transition: .3s ease;
}

.btn-up_hide {
  display: none;
}

.btn-up_hiding {
  opacity: 0;
  transform: translateY(100px);
}

.btn-up-icon {
  width: 40px;
  height: 40px;
  fill: currentcolor;
}

@media (hover: hover) and (pointer: fine) {
  .btn-up:hover {
    background-color: rgb(175, 102, 182);
  }
}


/* change page */


.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: .2s ease;
}
.loading img {
  width: 150px;
}