@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

.main_support {
    display: flex;
    min-height: 100%;
    max-width: 1170px;
    width: 100%;
}

.support_countenier {
    height: 1300px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.counteiner_head_text{
    height: 300px;
    width: 100%;
}

.text-support1{
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    font-family: 'Nunito', sans-serif;
}
.text-support2{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    font-family: 'Nunito', sans-serif;
}
.text-support-bonus-1{
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    font-family: 'Nunito', sans-serif;
}
.text-support-bonus-2{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    font-family: 'Nunito', sans-serif;
}
.convolutions_countenier{
    width: 100%;
    min-height: 360px;
}
.convolutions {
    height: 60px;
    width: 100%;
    transition: 0.2s;
    overflow: hidden;
    flex-direction: column;
    box-shadow: 0 0 1px black;
}

.countenier_one_text {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    font-family: 'Nunito', sans-serif;
    cursor: pointer;
}

.font_color_title span{
    display: flex;
    justify-content: center;
    align-items: center;
}
.font_color_title{
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 25px;
    border-radius: 20px;
    background-color: #ff00c8;
    margin-left: 20px;
    margin-right: 20px;
    letter-spacing: 1px;
    color: white;
    padding: 3px 10px;
}
h4 {
    display: inline-block;
}

.countainer__arrow {
    width: 50px;
    border: 1px solid red;
}


.countenier_two_text{
    width: 100%;
    height: 100%;
    font-family: 'Nunito', sans-serif;
    opacity: 1;
}
.text_support_convolutions{
    font-size: 15px;
    font-family: 'Nunito', sans-serif;
}

.text_support_convolutions_1{
    display: none;
}

.donaton_countanier{
    width: 100%;
    height: 175px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.donaton_fon{
    width: 250px;
    height: 75px;
    background-color: #313131;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    user-select: none;
}
.donaton_fon{
    font-size: 40px;
    font-family: 'Nunito', sans-serif;
    color: white;
}
.countenier_senks h4{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    color: rgb(122, 122, 122);
}

.li1{
    font-size: 18px;
    padding-left: 10px;
    margin-bottom: 4px;
}
.li2{
    font-size: 14px;
    margin-bottom: 10px;
    padding-left: 20px;
    color: rgb(90, 90, 90);
}

.convolutionsBorder1{
    border-radius: 16px 16px 0 0;
}
.convolutionsBorder2{
    border-radius: 0 0 16px 16px;
}

.subscriber-span {
    background-color: yellow;
    padding: 0 5px;
    border-radius: 10px;
}

.donator-span {
    background-color: rgb(172, 32, 172);
    color: white;
    padding: 0 5px;
    border-radius: 10px;
}

@media screen and (max-width: 1200px) {
    #pageDocumentation{
        display: none;
    }
    #pageCommands{
        display: none;
    }
    #pageStatistic{
        display: none;
    }
    #pageSupportUs{
        display: none;
    }
    .main_support {
        max-width: 600px;
    }
    .social_linck_none{
        display: none;
    }
    .avatar_title{
        display: none;
    }
}

@media screen and (max-width: 1400px) {
    .avatar_foot{
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .two-menu{
        display: none;
    }
}

@media screen and (max-width: 420px) {
    .discord-icon___box{
        display: none;
    }
}